body{
  background-color: #d4db6f;
}
.fondo4{
  background-color: #525528;
}
.fondo3{
  background-color:#414220;

}
.fondo{
  background-color: #898d42;
.fondo2{
  background-color: #525528;
}
}

